@import "./themes.css";
body{
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--primary);
}

main {
    position: relative;
    top:5rem;
  }
  
details{
    text-align: left;
    margin: 100px 20px;
    color:var(--text);

}

fieldset{
    padding: 0px;
    margin: 0px;
}

@media screen and (min-width:769px) {
    main{
        position: relative;
        top: 7rem;
    }
}

details summary{
    cursor: pointer;
    background-color: var(--secondary);
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    margin: 5px;
    color: var(--title);
    width: 100%;
}

#yourEmail{
    display: flex;
    flex-direction: column;
}

#email{
    height: 1rem;
    width: 15rem;
    background-color: var(--inputs);
    align-self: center;
    margin: 0.5rem;
}

#message{
    height: 10rem;
    width: 15rem;
    background-color: var(--inputs);
    align-self: center;
    margin: 0.5rem;

}

.contact{
    align-self: center;
}

#description{
    display: flex;
    margin-top: 1rem;
}

#description #pag1{
    display: flex;
    margin-top: 1rem;
}

#description img{
    height: auto;
    width:40%;
    padding: 0rem 0.2rem 0rem 0.2rem;
}

#labelEmail{
    align-self: center;
    color:var(--white);
    position: relative;
    right: 6.5rem; 
    margin-top: 1rem;
}

#labelMessage{
    align-self: center;
    color:var(--white);
    position: relative;
    right: 3.5rem;
   
}

#pag2{
    display: none;
}



#prev{
    display: none;
}

#sendEmail{
    height: 2rem;
    width: 15rem;
    background-color: var(--title);
    align-self: center;
    cursor: pointer;
    margin: 0.3rem;
    color: var(--secondary);
    border-radius: 1rem;

}

#sendEmail:hover{
    background-color: var(--secondary);
    color: var(--title)
}

footer{
    position: relative;
    height: 6rem;
    background-color: var(--secondary);
    top:10rem;
}

footer ul{
    display: flex;
    flex-direction:row;
    position: relative;
    top: 1.5rem;
}

footer ul li{
    flex-grow: 1; 
}

footer ul li a{
    color: var(--white);
}

footer  ul li a i{
    font-size: 3rem !important;
}
