:root{
    --primary:rgb(196, 189, 153);
    --title: orange;
    --title-profile:rgb(42, 66, 58);
    --white:rgb(255, 255, 255);
    --subtitles:rgb(23, 102, 76);
    --secondary:rgb(73, 112, 99);
}