@import "./themes.css";

body{
    background-color: var(--primary);
}

#profile{
    display: flex;
}

section{
    position: relative;
    top: 5.5rem;
}

.img-profile img{
    border-radius: 50%;
    width: 200px;
    height: auto;
    border:ridge 2px var(--white);
    margin-left: 1rem;
    margin-right: 1rem;
}

#profile a:hover{
    color: var(--aHover);
}


p u{
    color: var(--secondary);
}

#profile p strong{
    font-family: 'DM Serif Display', serif;
    color: var(--title-profile) ;
}

#profile a{
    font-style: italic;
}

legend{
    color: var(--subtitles);
    font-size: 1.5rem;
    font-family: 'Playball', cursive;
}

section fieldset .main-legend{
    font-size: 0.9rem;
    font-family: 'Playball', cursive;
    color: var(--white);
    position: sticky;
    z-index: 9;
    top:3rem;
}

p strong{
    font-family:'Fugaz One', cursive;
    color: var(--subtitles);
}

@media screen and (max-width:640px){
        #profile{
            flex-direction: column;
            text-align: center;
        }


}
footer{
    position: relative;
    top:5rem;
    height: 6rem;
    background-color: var(--secondary);

}

footer ul{
    position: relative;
    top:1.5rem;
    display: flex;
    flex-direction:row;
}

footer ul li{
    flex-grow: 1;
}

footer ul li a{
    color: var(--white);
}
footer  ul li a i{
    font-size: 3rem !important;
   
}

@media screen and (min-width:769px) {
    section fieldset .main-legend{
        top:4.5rem;   
    }
}

