:root{
    --primary:rgb(196, 189, 153);
    --title: #fca311;
    --title-profile:rgb(42, 66, 58);
    --white:rgb(255, 255, 255);
    --subtitles:rgb(23, 102, 76);
    --secondary:rgb(6, 68, 68);
    --aHover:rgb(23, 102, 76);
}