@import "./themes.css";

body{
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
}
main{
    background-color: var(--primary);
    color: var(--text);
}
fieldset{
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
}

fieldset legend{
    font-family: 'Satisfy', cursive;
     font-size: 22px;
     color: var(--white);
}
section{
    position: relative;
    top: 5.5rem;
}

main a:hover {
    color: var(--white);
}

footer{
    position: relative;
    top:5rem;
    background-color: var(--secondary);
    height: 6rem;

}

footer ul{
    position: relative;
    top: 0.5rem;
    display: flex;
    flex-direction:row;
    
}

footer ul li{
    flex-grow: 1;
    
}

footer ul li a{
    color: var(--white);
}

footer  ul li a i{
    font-size: 3rem !important;
   
}
