:root{
    --primary: rgb(196, 189, 153);
    --secondary: rgb(6, 68, 68);
    --title: #fca311;
    --menuToggle:rgb(231, 231, 231);
    --text:rgb(20, 0, 0);
    --title-profile:rgb(42, 66, 58);
    --white:rgb(255, 255, 255);
    --subtitles:rgb(23, 102, 76);
    --aHover:rgb(23, 102, 76);
    --inputs:#d1d0d0;
    
}